<!doctype html>
<html lang="en">
  <head>
    <title>Assasins</title>
    <link rel="stylesheet" href="assasins.css">
  </head>
  <body>
    <h1>Assasini</h1>
  <div class="immagini"> 
    <img src="../static/images/1.jpg" width="400">
    <img src="../static/images/2.jpg" width="400">
    <img src="../static/images/3.jpg" width="400">
    <img src="../static/images/4.jpg" width="400">
    <img src="../static/images/5.jpg" width="400">
    <img src="../static/images/6.jpg" width="400">
    <img src="../static/images/7.jpg" width="400">
    <img src="../static/images/8.jpg" width="400">
    <img src="../static/images/9.jpg" width="400">
  </div>
    {% for item in assasins %}
       <p>{{ item }}</p>
       <img src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" width="200">
    {% endfor %}
   </ul>
  </body>
</html>
